/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAG */
main{
    padding: 40px;
}


/* CLASSI */

.bg-gray{
    background-color:rgb(235, 235, 235);
}

.bg-selection-blue{
    background-color: rgb(54, 112, 210);
}

.border-selection{
    border : 1px solid rgb(167, 166, 166);
    border-radius: 3px;
    padding: 5px;
}

.mb-20{
    margin-bottom: 20px;
}

.p-20{
    padding: 20px;
}

.bg-red{
    background-color: red;
}



/* ID */
#tab-info{
    width: 60%;
    height: 500px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: aqua;

}
