/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAG */
main{
    padding: 40px;
    padding-bottom: 100px;
}

hr{
    color :white;
}

/* CLASSI */

.ombra-s{
    border: 1px solid white;
    padding: 10px;
    box-shadow: 5px 30px 18px black;
}

.bg-gray{
    background-color:rgb(235, 235, 235);
}

.bg-selection-blue{
    background-color: rgb(54, 112, 210);
}

.border-selection{
    border : 1px solid rgb(167, 166, 166);
    border-radius: 3px;
    padding: 5px;
}

.mb-20{
    margin-bottom: 20px;
}

.p-20{
    padding: 20px;
}

.bg-red{
    background-color: red;
}

.container-end{
    display: inline-block;
    border: 1px solid;
    border-radius: 50px;
    padding: 5px;
}

.text-white{
    color: white;
}

.p-10{
    padding: 10px;
    
}

.font-size-text-c{
    font-size: 10px;
}

.line-height-20{
    line-height: 20px;
}

.x-red{
    color: red;
    font-size: 20px;
}

.circle{
    height: 15px;
    width: 15px;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid green;
}




/* CLASSI COLORI */

.bg-c-blue{
    background-color: blue;
}

.bg-c-viola{
    background-color: violet;
}

.bg-c-green{
    background-color:green;
}

.bg-c-orange{
    background-color:orange;
}

.bg-c-fucsia{
    background-color:fuchsia;
}
.bg-c-acqua{
    background-color:aqua;
}

/* ID */
#tab-info{
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: white;
}

#radice{
    font-size: 13px;
    color: green;
    display: block;
}